# Project/editor files
*.pyc
*.bak
.idea/
.DS_Store/
*.swp
.vscode/
.ipynb_checkpoints/

# *nix related
*~

# macOS global filetypes
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
*.icloud

# Windows global filetypes
Thumbs.db

# Python stuff
sample.egg-info/
harmat.egg-info/
__pycache__/
.cache/
.pytest_cache/

# Cython build files
build/
dist/
*.so

# Profile turdlet
Profile.prof
