# Project/editor files
*.pyc
*.bak
.idea/
.DS_Store/
*.swp
.vscode/

# *nix related
*~

# macOS global filetypes
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows global filetypes
Thumbs.db

# Python stuff
sample.egg-info/
harmat.egg-info/
__pycache__/

# Cython build files
build/
dist/
*.so

