os: linux
dist: trusty
sudo: true

notifications:
  email: false

addons:
  apt:
    sources:
    - llvm-toolchain-trusty-5.0
    packages:
    - clang-5.0
    - libboost-graph-dev

language: python
python:
- 3.5
- 3.6

env:
  global:
  - USE_CCACHE=1
  - CCACHE_SLOPPINESS=pch_defines,time_macros
  - CCACHE_COMPRESS=1
  - CCACHE_MAXSIZE=100M
  matrix:
  - BACKEND=cpp
matrix:
  include:
  - os: osx
    osx_image: xcode8
    env: BACKEND=cpp PY=3
    python: 3.7
    language: cpp
    compiler: clang
    cache: false

before_install:
- |
  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    export CC=clang
    export CXX=clang++
  fi
- |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then # Install Miniconda
    curl -s -o miniconda.sh https://repo.continuum.io/miniconda/Miniconda$PY-latest-MacOSX-x86_64.sh;
    bash miniconda.sh -b -p $HOME/miniconda && rm miniconda.sh;
    export PATH="$HOME/miniconda/bin:$PATH"; hash -r;
  fi

install:
- pip install wheel pytest
- pip install -r requirements.txt
- pip install numpy scipy joblib pyyaml
- pip install git+https://github.com/jmschrei/pomegranate.git --no-deps
- python setup.py install
- py.test

script:
- python setup.py bdist_wheel

deploy:
  provider: releases
  api_key:
    secure: "f5u0EJ2XUat1daKZ12+7x7i2pLV4BwvYqzfv0Ri5BU+/B307siF+C+FxVNbs02KbG09xlf1RTk6LPe1VPDva+Mpt1w2dZbH16ZjDdDgbqo3BCFp9HHCtB3qcMrkHNx6cXbzC8c671VMaMJhGAPbp/81n/v3RkkA7UtAARfxeLsdZy6M2kSjkhTMJ/+dNpPJ0gG/JWrl/3AqtyEKipeeuL3fjtH+CfTgZh8eVryiz8abBodLQM8ZeJBwgAC/qGtbLqijM9rnL5dVusAMUJ2Ei4dKlvNa+O5b1/zjMj+4ms14GLdtfFPEX4dc0ZAMzenK76luR+rrdJu9EGmNtd5eAtQcrEFXN+5VeHkKHC5ATDK0/g8WHbK7SboYY6QLeoNicahm14Fq4eg/EPtoMKWVaiRV9KkvsmXFCabxKKAd9m2i8CLFVCHjMR1K0w6gnGStO0QwU426924hv0MwjvxMN66r8L5hejezYRnP2GuWZmMLLXeeeRtOfYhofEX+3EDvDCIozKmtZqHVajebXB1hqdDhwcul+rwrrorCBpeogqDrnI95YM4RekJZwSxRARUfIFtlUV1koIQ0T2C1N9HvfVaWRGdnuBsShDalr0x2O9aDruOMqTEtxMqZ/rdVTxCJnyxWfBkWc7QtGVpuR28qRe/cQv3l0Ld5wY6yvyamOs74="
  file_glob: true
  file: dist/*
  skip_cleanup: true
